<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/util
                http://www.springframework.org/schema/util/spring-util.xsd">

    <import resource="loggers.xml"/>

    <!--include getting from properties file-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <!--<property name="systemPropertiesMode"/>-->
    </bean>

    <!---->
    <util:map id="loggerMap">
        <entry key="INFO"
               value-ref="consoleEventLogger"/>
        <entry key="ERROR"
               value-ref="combinedEventLogger"/>
    </util:map>


    <bean id="client" class="com.epam.core.after.injection.Client"
          p:greeting="${greeting}">
        <constructor-arg value="${id}"/>
        <constructor-arg value="${name}"/>
    </bean>

    <bean id="app" class="com.epam.core.after.injection.App" c:client-ref="client">
        <!--<constructor-arg ref="client"/>-->
        <constructor-arg ref="cacheFileEventLogger"/>
        <constructor-arg ref="loggerMap"/>

        <property name="constanta">
            <util:constant static-field="java.lang.Math.PI"/>
        </property>
    </bean>

    <bean id="event" class="com.epam.core.after.injection.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

</beans>